html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav,
output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    background-image: url(img/body-background.jpg);
    background-size: contain;
}

.wrapper {
    width: 974px;
    background-color: #fff;
    margin: 60px auto 84px;
    padding: 15px 20px 35px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px
}

/*NAVIGATION*/

.navigation {
    width: 100%;
    position: relative;
    top: 25px;
    margin-bottom: 50px;
    display: inline-block;
}

.navigation-logo {
    display: inline-block;
    position: relative;
    float: left;
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
    font-weight: 700;
    color: #222222;
}

.navigation-logo span {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    color: #999999;
}

.navigation-menu {
    position: relative;
    float: right;
    width: auto;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    margin-top: 3px;
}

.navigation-menu-tab {
    position: relative;
    display: inline-block;
    margin-right: 26px;
    padding: 5px 13px;
    color: #666;
}

.navigation-menu-tab a {
    color: #666;
}

.navigation-menu-tab:last-child {
    margin-right: 34px;
}

.navigation-submenu {
    display: none;
    width: 164px;
    position: absolute;
    top: 26px;
    left: -2px;
    padding-top: 6px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background-color: #fff;
    list-style-type: none;
    z-index: 10;
}

.navigation-submenu:before {
    content: '';
    width: 0;
    height: 0;
    border: 7px transparent solid;
    border-top: 7px #e0e0e0 solid;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.navigation-submenu li {
    width: 140px;
    margin: 6px;
    padding: 6px;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: #666;
}

.navigation-submenu li span {
    display: block;
    font-family: "Arial", sans-serif;
    color: #aaa;
    font-size: 10px;
}

.navigation-submenu hr {
    width: 145px;
    height: 1px;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    text-align: center;
}

.navigation-menu-tab:hover {
    color: #222;
    background-color: #f5f5f5;
    border-radius: 2px;
}

div.navigation-menu-tab:hover .navigation-submenu {
    display: inline;
}

.navigation-submenu li:hover {
    background-color: #f3f3f3;
    border-radius: 2px;
}

.navigation-menu-button {
    color: #fff;
    background: linear-gradient(to bottom, #ffc654, #ffbc44);
    border: 1px solid #efb94d;
    border-radius: 3px;
    text-shadow: 1px 0 1px rgba(198, 141, 30, 0.7);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

/*ADS*/

.ad {
    position: relative;
    margin: 10px 0 40px;
    clear: both;
    display: inline-block;
}

.ad-item {
    position: relative;
    margin: 0 20px 0 76px;
    width: 302px;
    height: 199px;
    float: left;
    background-color: #f6f6f6;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
}

.ad-item-img {
    position: relative;
    width: auto;
    height: 189px;
    margin: 5px;
    background-image: url("img/spider-man.jpg");
    background-size: cover;
}

.ad-item-bar-arrow {
    position: relative;
    float: left;
    top: 135px;
    width: 32px;
    height: 49px;
    border-radius: 3px;
    margin-right: 3px;
}

.ad-item-bar {
    position: relative;
    float: left;
    top: 135px;
    width: 198px;
    height: 39px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    margin-right: 3px;
    color: #f6f6f6;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 5px 8px;
}

.ad-item-bar-description {
    color: #ffc14c;
    font-family: Arial, sans-serif;
    font-size: 11px;
    margin-top: 5px;
}

.ad-item-bar-description span {
    color: #676767;
    font-family: Arial, sans-serif;
    font-size: 11px;
}

.ad-description {
    display: inline-block;
    position: relative;
    float: left;
    width: 486px;
    text-align: left;
}

.ad-description-title {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 18px auto 5px;
    font-family: 'Oxygen', sans-serif;
    font-size: 38px;
    color: #515151;
    text-align: center;
}

.ad-description-body {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #666;
    text-align: right;
    padding-left: 10px;
}

.ad-description hr {
    width: 100%;
    height: 1px;
    color: #f6f6f6;
    background-color: #f6f6f6;
    border: none;
}

.ad-description-button {
    position: relative;
    float: right;
    margin-top: 9px;
    width: 167px;
    height: 40px;
    background: linear-gradient(to bottom, #ffc351, #ffb841);
    border-radius: 2px;
    border: 1px solid #efb74c;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 0 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 0 1px rgba(0, 0, 0, 0.1);
    padding: 0 0 0 5px;
    text-align: left;
    cursor: pointer;
}

.ad-description-button-arrow {
    display: inline-block;
    position: relative;
    width: 38px;
    height: 32px;
    margin: 2px 0;
    float: right;
    border-left: 1px solid #ffc861;
    line-height: 32px;
    right: -3px;
    top: 0;
    box-shadow: -1px 0 0 #ffb23a;
    text-align: center;
}

.ad-description-button-arrow i {
    color: #fff;
    font-weight: bold;
    text-shadow: 0px -1px 1px rgba(208, 139, 18, 0.5);
}

.ad-description-button-name {
    overflow: hidden;
    display: inline;
    font-family: 'Oxygen', sans-serif;;
    font-size: 17px;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(208, 139, 18, 0.5);
    color: #fff;
    justify-self: left;
}

.ad-description-button-name span {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    color: #d28600;
    padding-left: 3px;
}

.ad-description-more {
    clear: both;
    position: relative;
    margin: 5px 0 0 50%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #afceb4;
    text-transform: uppercase;
    display: inline-block;
}

.ad-description-more a {
    text-decoration: underline;
    color: #afceb4;
}

.between_sections {
    width: 100%;
    height: 1px;
    color: #e5e5e5;
    background-color: #e5e5e5;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/*ARTICLES*/

.articles {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.articles-title {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #222;
    text-align: left;
    text-transform: capitalize;
}

.articles-body {
    position: relative;
    width: 100%;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    color: #666;
}

.articles-body-item {
    width: 301px;
}

.articles-body-item-head {
    width: inherit;
    height: 200px;
    background: url("img/triangles.png") repeat-x 0% 100%;
}

.articles-body-item-head-pic {
    position: relative;
    margin: 0;
    height: 142px;
    width: 295px;
    background-color: #fff;
    border: 1px #f1f1f1 solid;
    padding: 2px;
}

.articles-body-item-head-pic img {
    position: relative;
    height: inherit;
    width: inherit;
}

.articles-body-item-head-pic-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 2px;
}

.circle-button {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0 8px;
    background: linear-gradient(to bottom, #fefefe, #dadada);
    border-radius: 100%;
    box-shadow: 0px 1px 2px #000, 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.circle-button:hover {
    position: relative;
    width: 44px;
    height: 44px;
    box-shadow: 0px 1px 2px #000, 0px 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.articles-body-item-head-pic-hover-arrow {
    background-image: url("img/icon_sprite.png");
    background-repeat: no-repeat;
    background-position: 8px;
    z-index: 10;
}

.articles-body-item-head-pic-hover-plus {
    font-family: "Perpetua", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: inherit;
}

.articles-body-item-head:hover .articles-body-item-head-pic-hover {
    display: flex;
}

.articles-body-item-head-title {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    padding: 8px 10px 3px;
}

.articles-body-item-head-description {
    font-family: "Arial", sans-serif;
    font-size: 11px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    padding: 0 10px;
}

.articles-body-item-content {
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: justify;
    line-height: 1.6em;
    padding: 7px;
}

/*CONTENT*/

.content {
    position: relative;
    height: auto;
    width: 100%;
}

.content-body {
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
}

.content-body-tabs-header {
    background: linear-gradient(to bottom, #fdfdfd, #f8f8f8);
    white-space: nowrap;
    font-size: 0;
    border: 1px solid #efefef;
}

.content-body-tabs-item {
    display: inline-block;
    padding: 13px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #999;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    background: linear-gradient(to bottom, #fdfdfd, #f8f8f8);
}

.content-body-tabs-item-selected {
    color: #000;
    background-color: #fff;
}