.wrapper {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid #222;
}

a.navbar-brand {
    padding: 5px 15px !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-weight: 800;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
}

#home, #about, #team, #projects, #contacts, .footer {
    position: relative;
    width: 100%;
}

#home>img {
    width: 80%;
}

#about{
    background-color: #000;
    color: #fff;
    font-family: ;                    /*вставить шрифт*/
    font-weight: 400;
    text-align: center;
    padding: 30px 40px;
}

#about>h1 {
    margin-bottom: 20px;
    font-weight: 900;
}

.projects-arrow {
    height: 50%;
    z-index: 100;
}

.arrow-left {
    margin-left: 2px;
}

.arrow-right {
    margin-right: 2px;
}