html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    width: 100%;
    z-index: -50;
}

#home, #about, #portfolio, #services, #pricing, #testimonials, #contacts {
    width: 100%;
    min-width: 1023px;
    height: auto;
    position: relative;
}

.navigation_area, .home_area, .about_area, .portfolio_area, .services_area,
.pricing_area, .testimonials_area, .contacts_area {
    width: 1023px;
    height: auto;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*NAVIGATION*/
.navigation {
    position: fixed;
    width: 100%;
    height: 115px;
    background-color: #fff;
    top: 0;
    z-index: 50;
}

.navigation_area {
    top: 0;
}

@font-face {
    font-family: "FuturaBT-Book";
    src: url(fonts/FuturaBT-Book.ttf)
}

.navigation-logo {
    position: relative;
    top: 0;
    bottom: 0;
    width: 423px;
    height: 115px;
    font-family: "FuturaBT-Book", sans-serif;
    font-size: 36px;
    color: #ee8129;
    float: left;
    line-height: 115px;
}

@font-face {
    font-family: "FuturaBT-Heavy";
    src: url(fonts/FuturaBT-Heavy.ttf)
}

.navigation-logo span {
    font-family: "FuturaBT-Heavy", sans-serif;
    color: #3070a8;
    text-transform: uppercase;
    font-weight: bold;
}

.navigation nav {
    position: relative;
    width: 600px;
    height: 115px;
    overflow: hidden;
    bottom: 0;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans.ttf")
}

.navigation nav > a {
    text-transform: uppercase;
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 0 16px 0 19px;
    text-decoration: none;
    position: relative;
    bottom: 0;
    color: #989898;
    line-height: 115px;
}

.navigation nav > a:hover {
    border-bottom: 4px solid #3070a8;
    height: 111px;
    color: #3070a8;
}

/*HOME*/
#home {
    margin-top: 115px;
    color: #fff;
    background: transparent url("img/home-banner.jpg") no-repeat scroll 0% 34% / cover;
}

.home_area {
    height: 585px;
}

.home_area h1 {
    font-family: "FuturaBT-Book", sans-serif;
    font-size: 40px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    padding-top: 142px;
    position: relative;
}

.home_area h1 > span {
    font-family: "FuturaBT-Heavy", sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.home_area > p {
    padding-top: 21px;
    margin: 0 auto;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    width: 600px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.26);
    line-height: 1.4em;
}

input[name="home_submit"] {
    position: absolute;
    bottom: 108px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 245px;
    height: 57px;
    background: transparent;
    border: 1px #808181 solid;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

/*ABOUT*/
.about_area h1 {
    font-family: "Trebuchet MS", sans-serif;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #41525c;
    font-weight: 600;
}

.about-section {
    width: 100%;
    display: inline-block;
    text-align: justify;
    margin: 70px 0 38px;
}

.about-section:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.about-section li {
    width: 30%;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    color: #A7A7A7;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    letter-spacing: 0.04em;
}

.about-section h2 {
    color: #3070a8;
    font-family: "FuturaBT-Book", sans-serif;
    font-size: 30px;
    margin: 22px 0 17px;
    text-transform: uppercase;
}

.about-section p {
    line-height: 1.7em;
}

/*PORTFOLIO*/
#portfolio {
    background-image: url("img/portfolio.jpg");
    background-size: cover;
}

.portfolio_area {
    text-align: left;
    height: 577px;
}

.portfolio_area h1 {
    width: 685px;
    font-family: "FuturaBT-Book", sans-serif;
    font-size: 26px;
    color: #ee8129;
    text-transform: uppercase;
    padding: 74px 0 7px;
    line-height: 1.9em;
}

.portfolio_area h2 {
    width: 685px;
    color: #d1d2d2;
    font-family: "OpenSans", sans-serif;
    font-style: italic;
    font-size: 19px;
    letter-spacing: -0.015em;
}

.portfolio_area ul {
    display: inline-block;
    width: 620px;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    color: #9d9d9d;
    margin: 33px 0 50px;
    padding-left: 40px;
    line-height: 2.1em;
}

.portfolio_area li {
    margin-bottom: 15px;
    letter-spacing: 0.7px;
}

.portfolio_area li:nth-child(even) {
    color: #3070a8;
    display: list-item;
}

/*PRICING*/
.pricing_area h1 {
    font-family: "Trebuchet MS", sans-serif;
    margin-top: 67px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #41525c;
    font-weight: 600;
}

.price {
    width: 900px;
    height: 470px;
    position: relative;
    margin: 55px auto 74px;
}

.price-item {
    display: inline-block;
    float: left;
    position: relative;
    width: 288px;
    height: auto;
    margin: 0 auto 90px;
    border: 4px solid #ee8129;
    border-radius: 4px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    box-shadow: 0px 0px 5px 2px rgba(205, 226, 238, 1);
}

li[class="price-item"]:first-child, li[class="price-item"]:last-child {
    border: 1px solid #e8eaec;
    position: relative;
    top: 13px;
    box-shadow: none;
    left: 3px;
    z-index: -10;
}

li.price-item:last-child {
    left: -3px;
}

.price-item-header {
    position: relative;
    width: 100%;
    height: 73px;
    background-color: #ee8129;
    color: #fff;
    line-height: 63px;
    margin: 0;
    border: none;
    border-radius: initial;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.price-item:first-child .price-item-header {
    background-color: #37c2d3;
    height: 63px;
    line-height: 63px;
}

.price-item:last-child .price-item-header {
    background-color: #1cb79a;
    height: 63px;
}

.price-item-description {
    width: 100%;
    color: #000;
    text-align: center;
}

.price-item-description p {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.price-item-description span {
    display: inline-block;
    font-size: 72px;
    font-weight: bold;
    color: #364959;
}

.price-item-description span:first-of-type {
    display: inline-block;
    font-size: 15px;
    position: relative;
    bottom: 38px;
}

.price-item-description span:last-of-type {
    display: inline-block;
    font-size: 15px;
    position: relative;
    bottom: -5px;
    margin-bottom: 7px;
}

.price-item-description ul {
    width: 259px;
    font-size: 15px;
    margin: 18px auto;
    list-style-position: inside;
    list-style-type: none;
}

.price-item-description li {
    display: list-item;
    color: #888c94;
    background-color: #edf5fd;
    margin: 1px auto;
    text-align: left;
    padding: 7px 0 7px 55px;
}

.price-item-description li:before {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    content: ' ';
    background: url(http://i643.photobucket.com/albums/uu160/pandemic87/check.png) no-repeat;
    background-size: cover;
    margin: -10px 5px 0 -35px;
}

.price-item-description li:nth-child(even) {
    background-color: #f5f5f6;
}

.price-item-description input {
    width: 252px;
    height: 38px;
    background-color: #ee8129;
    color: #fff;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    margin-bottom: 33px;
    box-shadow: 0 3px 0 rgba(179, 86, 11, 1), -1px 0 0 rgba(237, 195, 161, 1);
}

.price-item:first-child input, .price-item:last-child input {
    margin-bottom: 23px;
    background-color: #3371a6;
    box-shadow: 0 3px 0 rgba(22, 67, 106, 1), -1px 0 0 rgba(165, 189, 207, 1);
}

/*testimonials*/
#testimonials {
    background-image: url("img/testimonials_background.jpg");
    background-size: cover;
    font-family: "Trebuchet MS", sans-serif;
}

.testimonials_area h1 {
    font-size: 40px;
    font-weight: bold;
    color: #3170a8;
    text-transform: uppercase;
    text-align: center;
    padding: 47px 0 12px;
}

.testimonials_area span {
    color: #ee8129;
    font-weight: normal;
}

.testimonials-section {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.testimonials-section section {
    display: inline-block;
    position: relative;
    width: 489px;
    height: 100px;
    left: 0;
    margin: 23px 0;
}

.testimonials-section section:nth-child(even) {
    margin-left: 40px;
}

.testimonials-section img {
    width: 99px;
    height: 100px;
    float: left;
    position: relative;
    left: 1px;
}

.testimonials-message {
    width: 362px;
    height: 98px;
    background: #f7f7f7;
    border: #e0e0e0 1px solid;
    float: right;
    position: relative;
}

.testimonials-message::before {
    content: '';
    border: 17px solid transparent;
    border-right: 17px solid #f7f7f7;
    position: absolute;
    left: -33px;
    bottom: 50%;
    top: 34px;
}

.testimonials-message-links {
    width: auto;
    height: 35px;
    border-bottom: 1px dashed #000;
    font-size: 14px;
    margin: 0 15px;
    line-height: 35px;
}

.testimonials-message-links a {
    font-style: italic;
    color: #3070a8;
    text-decoration: none;
}

.testimonials-message-links a:first-child {
    float: left;
}

.testimonials-message-links a:last-child {
    float: right;
}

.testimonials-message p {
    display: inline-block;
    padding: 10px 30px 0 15px;
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
}

/*CONTACTS*/
#contacts {
    height: 345px;
}

.contacts_back {
    width: 50%;
    height: inherit;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("img/map.jpg");
    background-size: cover;
}

.contacts_area {
    height: inherit;
    z-index: 10;
}

.contacts_area table {
    position: relative;
    float: left;
    font-family: "OpenSans", sans-serif;
    font-weight: bolder;
    font-size: 14px;
    margin: 35px 0 25px;
}

.contacts_area td {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}

.contacts_area td:nth-child(even) {
    width: 220px;
}

.contacts_area td img {
    top: 9px;
    position: relative;
}

.contacts_area td p {
    padding-left: 33px;
    line-height: 2em;
}

.contacts-sn {
    clear: both;
    position: relative;
    left: 0;
    margin-top: 10px;
}

.contacts-sn img {
    margin-right: 23px;
}

footer {
    width: 100%;
    height: 104px;
    background-color: #3070a8;
    color: #fff;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 2em;
}

footer p {
    position: relative;
    top: 25%;
}

footer span {
    font-weight: bold;
}

footer a {
    color: #1d1c1c;
    font-weight: bold;
    text-decoration: none;
}